body {
  background-color: rgb(200, 243, 228);
   font-family: "Onest", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;   /* Regular */
   font-style: normal;
}
h1{
  font-size: 40px;
  color: rgb(73, 199, 128);
  font-family: "Onest", sans-serif;
  font-weight: 700;   /* Bold */
}

